<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>ZoomConnect</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>msauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>msauth.com.zoomconnect</string>
                <string>msal151553b6-39f3-48e4-9982-6dc7d4833e59</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleURLName</key>
            <string>ZoomConnectapp</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>zoomconnect</string>
                <string>com.googleusercontent.apps.23273467961-p4905vn7jgda30c8b9si24osgl0rkm11</string>
            </array>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>msauth</string>
        <string>msauthv2</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>MSALRedirectURI</key>
    <string>msal151553b6-39f3-48e4-9982-6dc7d4833e59://auth</string>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>

    <key>NSCameraUsageDescription</key>
    <string>The app requires access to the camera to allow users to take photos for uploading profile pictures.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>We use Face ID to authenticate you</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location to provide personalized services even in the background.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location to provide personalized services.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>The app requires access to your location to provide location-based services.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>The app requires access to the microphone for audio calls.</string>
    <key>NSMotionUsageDescription</key>
    <string>This app needs access to motion data to track your steps.</string>
    <key>NSNotificationsUsageDescription</key>
    <string>App wants access to send notifications</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>The app requires access to the photo library to upload profile pictures.</string>
    
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>UIAppFonts</key>
    <array>
        <string>AntDesign.ttf</string>
        <string>Entypo.ttf</string>
        <string>EvilIcons.ttf</string>
        <string>Feather.ttf</string>
        <string>FontAwesome.ttf</string>
        <string>FontAwesome5_Brands.ttf</string>
        <string>FontAwesome5_Regular.ttf</string>
        <string>FontAwesome5_Solid.ttf</string>
        <string>Foundation.ttf</string>
        <string>Ionicons.ttf</string>
        <string>MaterialIcons.ttf</string>
        <string>MaterialCommunityIcons.ttf</string>
        <string>SimpleLineIcons.ttf</string>
        <string>Octicons.ttf</string>
        <string>Zocial.ttf</string>
        <string>Poppins-Regular.ttf</string>
        <string>Poppins-Italic.ttf</string>
        <string>Poppins-Black.ttf</string>
        <string>Poppins-Bold.ttf</string>
        <string>Poppins-ExtraBold.ttf</string>
        <string>Poppins-LightItalic.ttf</string>
        <string>Poppins-SemiBold.ttf</string>
        <string>Poppins-ThinItalic.ttf</string>
        <string>Roboto-Bold.ttf</string>
        <string>Roboto-Regular.ttf</string>
        <string>DMSerifDisplay-Regular.ttf</string>
        <string>Montserrat-Bold.ttf</string>
        <string>Montserrat-Regular.ttf</string>
        <string>Montserrat-SemiBold.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
</dict>
</plist>